.DS_Store
*.swp
*.bak
.htaccess
development/
uploads/
barcode_student/
nbproject/
vendor/
sessions/
media/background
media/barcode_employees
media/barcode_hutang
media/barcode_fee
media/barcode_kesehatan
media/barcode_student
media/barcode_tahfidz
media/barcode_transaction
media/DataTables
media/fonts
media/img
media/js
media/select2_css
media/select2_js

application/config/config.php
application/config/mimes.php
application/config/constants.php
application/config/database.php
application/config/doctypes.php
application/config/email.php
application/config/foreign_chars.php
application/config/hooks.php
application/config/index.html
application/config/memcaches.php
application/config/migration.php
application/config/profiler.php
application/config/smileys.php

application/controllers/
application/core/
application/helpers/dompdf/
application/hooks/
application/language/
application/libraries/PHPExcel/
application/libraries/Barcodegen/
application/modules/controllers/Auth_set.php
application/logs/
application/models/
application/modulesOld/
application/views/portal.php
application/views/manage/login.php

assets/html2pdf/
system/
uploadimage/
index.php
error_log

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/nbproject/private/
# tesgitignore
composer.lock
